# API
API_URL_PREFIX=http://localhost:3333
APP_ADMIN_SECRET=Secret

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=docker
POSTGRES_DB_NAME=traveler

# Sonic(Searcher)
SONIC_PASSWORD=SecretPassword

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
